<p>User Created Successfully</p>
<a href="/interesting_users/new" style="background: #3E3B8E;">Go Back</a>

<% if false %>
  <div class="grid_12 omega" style="background: #202020;">
    <div class="grid_2 omega">111111111111</div>
  <div class="grid_8 omega" style="background:url(http://distilleryimage6.s3.amazonaws.com/dc986ca6d3a611e2b8cc22000a1d2017_7.jpg);width:612px;background-repeat: no-repeat;height: 306px;margin:0;">
    <div class="auth-d">
      <img src="http://images.ak.instagram.com/profiles/profile_52093116_75sq_1371120364.jpg">
    </div>
    <div class="ovrlay">
      <div style="padding:4px;color:white;opacity:1;">
        kushal00
      </div>
    </div>
  </div>
  <div class="grid_2 omega"></div>
  </div>
<% end %>