<% if params[:action] == "geo_tag_content" %>
  <div class="popular-text"> Instagram Pictures near & around you</div>
<% else %>
  <%= render '/users/user_basic_info' %>
<% end %>
<%= render '/site/content' %>
<%= render "/users/pagination" %>