<% un = (@user_info.blank? || @user_info["meta"]["error_type"].present?) ? "" : @user_info["data"]["username"] %>
<% meta_keywords "joystagram, joystagram.com, instagram, IG, web, #{un}, instagram on web" %>
<% meta_description "Joystagram - #{un}" %>
<h1><%=h content_for(:title, "#{un} - Joystagram") %></h1>
<% if @data.blank? %>
  <h3 class="error">User does not exist or user deleted profile</h3>
<% elsif @user_info["meta"]["error_type"].present? %>
  <h3 class="error">Sorry this is a private User</h3>
<% else %>
  <%= render :partial => 'user_basic_info', :locals => {:show_follow => true} %>
  <%= render '/site/content' %>
<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $("#relation-none").click(function(){
      $(".relation-loader").show();
      $.ajax({
        url: "/relationship",
        type: "POST",
        data: {instagram_action : "follow", media_id : "<%= params[:id] %>" },
        success: function(response) {
          $(".relation-loader").hide();
          $("#relation-none").css({"background-color": "#85A32B"});
          $("#relation-none").text("following");
        }
      });
    });
  });
</script>