<%# un = (@user_info.blank? || @user_info["meta"]["error_type"].present?) ? "" : @user_info["data"]["username"] %>
<% meta_keywords "Joyviewer, Joyviewer.com, instagram, IG, web, #{@data["data"][0]["user"]["username"] rescue ""}, instagram on web" %>
<% meta_description "joyviewer - #{@data["data"][0]["user"]["username"] rescue ""}" %>
<h1><%=h content_for(:title, "#{@data["data"][0]["user"]["full_name"] rescue ""} #{@data["data"][0]["user"]["username"] rescue ""} - joyviewer.com") %></h1>

<%= render "show_web" %>
<%# helloojaclyn request %>
<% unless exclude_users(params[:id], params[:fid]) %>
<%= render "pagination" %>
<% end %>
<!-- <div class="row">
  <div align="center" class="col-md-12" style="margin: 2%;">
      <SCRIPT>var ACE_AR = {Site: '885808', Size: '320050'};</SCRIPT> <SCRIPT language='JavaScript' src='http://uac.advertising.com/wrapper/aceUAC.js'></SCRIPT>
  </div>
</div> -->
<script type="text/javascript">
  /*$(document).ready(function(){
    <% if @temp_info.present? %>
      var user_id = <%= @temp_info["user"]["id"] %>;
      $.ajax({
        url: "/profile_count/"+user_id,
        type: "GET",
        success: function(response) {
          $("#media-count").html(response["media"]);
          $("#followed-count").html(response["followed_by"]);
          $("#following-count").html(response["follows"]);
          $("#bio").html(response["bio"]);
          $("#website").attr("href", response["website"]);
          $("#website").html(response["website"]);
          $("#username").html(response["username"]);
          $("#full_name").html(response["full_name"]);
          $("#profile_picture img").attr("src",response["profile_picture"]);
        }
      });
    <% end %>
  }); */
</script>