<% meta_keywords "Popular tags on Instagram, hashtags, instagram hashtags, hot on instagram, hot tags on instagram, top filters in instagram" %>
<% meta_description "Popular tags on Instagram" %>
<h1><%=h content_for(:title, "Joystagram - Popular tags on Instagram") %></h1>
<div class="popular-text">Popular tags on Instagram</div>
<div id="wrapper">
  <ul id="my-list">
    <% Constant::POPULAR_HASHTAGS.each_with_index do |tag,i| %>
      <a href='/tag/<%= tag %>'><li style="background: <%= tag_color %>;"><%= "#{i+1}.#{tag}" %></li></a>
    <% end %>
  </ul>
</div>