<h1><%=h content_for(:title, "Joystagram - Instagram Photos Tagged with ##{params[:id].to_s}") %></h1>
<div class="popular-text">Photos Tagged with #<%= params[:id].to_s %></div>
<%= render '/site/content' %>