<% if @likes["data"] %>
  <%#= render :partial => "site/leaderboard_ad" %>
  <div align="center">
    <%#= render :partial => "site/leaderboard_ad" %>
  </div>
  <div class="row">
    <div class="large-7 columns">
      <% @likes["data"].each do |like| %>
        <div class="browse-celeb-grid">
          <a href="/u/<%= like['username'] %>/?fid=<%= like['id'] %>">
            <img src="<%= like["profile_picture"] %>" style="width:100px;height:auto;" >
            <div style="color: #202020;text-align: center;font-size: 14px;"><%= like["username"] %></div>
          </a>
        </div>
      <% end %>
    </div>
    <div class="large-5 columns">
      <div class="large-12 columns">
        <% if true && @likes["data"].length > 10 %>
          <SCRIPT>var ACE_AR = {Site: '885810', Size: '300600'};</SCRIPT> <SCRIPT language='JavaScript' src='http://uac.advertising.com/wrapper/aceUAC.js'></SCRIPT>
        <% end %>
      </div>
    </div>
  </div>
  <%#= render :partial => "site/leaderboard_ad", :locals => {:keyword => "mobiles"} %>
<% else %>
  <h3 class="error">Sorry this Content might have been deleted by user or it is a private content</h3>
<% end %>