<% if Rails.env == "production" && show %>
  <div align="center" style="margin: 1%;">
    <SCRIPT>var ACE_AR = {Site: '886610', Size: '728090'};</SCRIPT> <SCRIPT language='JavaScript' src='http://uac.advertising.com/wrapper/aceUAC.js'></SCRIPT>
  </div>
<% end %>