<% if session[:mobile] %> 
  <script type="text/javascript">
    ch_client = "kushz19";
    ch_query = "<%= keyword %>";
    ch_width = 300;
    ch_height = 70;
    ch_type = "mpu";
    ch_sid = "Chitika Default";
    ch_color_site_link = "0000CC";
    ch_color_title = "0000CC";
    ch_color_border = "FFFFFF";
    ch_color_text = "000000";
    ch_color_bg = "FFFFFF";
  </script>
  <script src="http://scripts.chitika.net/eminimalls/amm.js" type="text/javascript">
  </script>
<% else %>
  <div class="row">
    <div align="center" class="large-12 columns" style="margin-bottom: 5px;">
      <script type="text/javascript">
        ch_client = "kushz19";
        ch_query = "<%= keyword %>";
        ch_width = 728;
        ch_height = 90;
        ch_type = "mpu";
        ch_sid = "Chitika Default";
        ch_color_site_link = "FFFFFF";
        ch_color_title = "FFFFFF";
        ch_color_border = "202020";
        ch_color_text = "FFFFFF";
        ch_color_bg = "202020";
        </script>
        <script src="http://scripts.chitika.net/eminimalls/amm.js" type="text/javascript">
      </script>
    </div>
  </div>
<% end %>