<% color = tag_color %>
<% @data["data"].each_with_index do |data,i| %>
  <a href="/media/<%= data["id"] %>">
    <img src="<%= data["images"]["low_resolution"]["url"] %>" class="img-resize">
  </a>
<% end %>
