<div>
  Joystagram is an Instagram Web Viewer with following options:
  <ul class="about">
    <li>View popular Instagram photos.</li>
    <li>View Instagram feeds.</li>
    <li>View Instagram Pictures near & around you.</li>
    <li>Browse content by most popular tags.</li>
    <li>Search photos by tags.</li>
    <li>Like photos.</li>
    <li>Follow new users.</li>
    <li>Share via Facebook and pinterest.</li>
  </ul>
  <div>For any suggestions and/or queries please drop by a Mail at: joystagram@gmail.com</div>
</div>