<% meta_keywords "joystagram, joystagram.com, instagram, IG, web, PC, Computer, viewer, instagram on web, About" %>
<% meta_description "Joystagram - Joy of Instagram On Web" %>
<h1><%=h content_for(:title, "Joystagram - Users Suggested in Instagram Blog") %></h1>
<div style="font-size: 14px;">
  Joystagram is an Instagram Web Viewer with following features:
  <ul class="about">
    <li>View popular Instagram photos.</li>
    <li>View Instagram feeds.</li>
    <li>View Instagram Pictures near & around you.</li>
    <li>Browse content by most popular tags.</li>
    <li>Search photos by tags.</li>
    <li>Like photos.</li>
    <li>View your uploads , check your followers and following list.</li>
    <li>Follow new users.</li>
    <li>Share via Facebook and pinterest.</li>
  </ul>
  <div>For any suggestions and/or queries please drop by a Mail at: joystagram@gmail.com</div>
</div>