<iframe src="http://player.vimeo.com/video/68765934?byline=0&amp;portrait=0" width="800" height="581" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/68765934">Introducing Video on Instagram</a> from <a href="http://vimeo.com/instagram">Instagram</a> on <a href="http://vimeo.com">Vimeo</a>.</p>

<div style="font-size: 14px;">
  Joystagram is an Instagram Web Viewer with following features:
  <ul class="about">
    <li>View popular Instagram photos.</li>
    <li>View Instagram feeds.</li>
    <li>View Instagram Pictures near & around you.</li>
    <li>Browse content by most popular tags.</li>
    <li>Search photos by tags.</li>
    <li>Like photos.</li>
    <li>View your uploads , check your followers and following list.</li>
    <li>Follow new users.</li>
    <li>Share via Facebook and pinterest.</li>
  </ul>
  <div>For any suggestions and/or queries please drop by a Mail at: joystagram@gmail.com</div>
</div>