<% meta_keywords "Joyviewer, Joyviewer.com, instagram,instagram feed, instagram login, IG, web, PC, Computer, viewer, instagram on web" %>
<% meta_description "Joyviewer - Joy of Instagram On Web" %>
<h1><%=h content_for(:title, "Joyviewer - Joy of Instagram On Web @Joyviewer") %></h1>
<div class="popular-text">Explore Instagrammers</div>
<div class="row">
  <% @interesting_user_posts.each do |post| %>
    <div class="large-3 columns" style="padding:5px;">
      <a href="/media/<%= post.media_id %>"><img src="<%= post.image_low %>" style="box-shadow: 0px 1px 3px black;margin:-2px;border-radius:0px;"></a>
    </div>
    <% end %>   
</div>
<%#= render :partial => "site/leaderboard_ad", :locals => {:keyword => "cameras"} %>
<%= render :partial => "site/aol_leaderboard", :locals => {:show => @interesting_user_posts.present?} %>