<div class="row">
  <div class="large-10 columns">
    <h1>Frequently asked questions</h1>
    <ol>
      <li>
        <h6>Why are my posts available on Joyviewer?</h6>
        <p>
          Joyviewer uses Instagram api to fetch content from instagram. Hence any public profile of instagram is visible on Joyviewer.  If a user changes his/her settings to be a private user then content will not be publicly visible. To set your privacy so that only approved users can see your post you can follow this <a href="http://help.instagram.com/448523408565555">link</a>.
        </p>
      </li>
      <li>
        <h6>Do we obtain password once user signs in?</h6>
        No, we only use access token obtained by instagram api and we have no information about user's password.
      </li>
      <li>
        <h6>Can i upload photos and videos from Joyviewer?</h6>
        No, you can only upload media from instagram mobile application.
      </li>
      <li>
        <h6>Can i delete posts from Joyviewer?</h6>
        No, you cannot. You need to use instagram mobile application for it.
      </li>
      <li>
        <h6>Joyviewer and instagram are same company?</h6>
        No.
      </li>
    </ol>
  </div>
</div>