<% meta_keywords "joystagram, joystagram.com, instagram,instagram feed, instagram login, IG, web, PC, Computer, viewer, instagram on web" %>
<% meta_description "Joystagram - Joy of Instagram On Web" %>
<h1><%=h content_for(:title, "Joystagram - Joy of Instagram On Web") %></h1>
<div class="row">
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://joystagram.com" data-via="joystagram" data-related="joystagram" data-hashtags="joystagram">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  <div class="fb-like" data-href="https://www.facebook.com/joystagram" data-width="450" data-layout="button_count" data-show-faces="false" data-send="false"></div>
</div>
<div class="popular-text">Explore Instagrammers</div>
  <div class="row">
    <% @interesting_user_posts.each do |post| %>
        <a href="/media/<%= post.media_id %>"><img src="<%= post.image_low %>" style="border: 1px solid #202020;margin:-2px;border-radius:0px;"></a>
      <% end %>   
  </div>