<h1>Instagram</h1>
<div>
  <h2>Login with Instagram</h2>
  <div class="login-button">
    <a href="https://instagram.com/oauth/authorize/?client_id=d8d1ad02f4564390aaac77be8390c6a6&redirect_uri=http://myinsta.herokuapp.com/user/&response_type=code">
      Login
    </a>
  </div>
</div>
<div>
  <% @result.each do |image| %>
    <img src="<%= image %>">
  <% end %>
</div>