<div class="grid_12 omega">
  <div class="popular-text">Popular on Instagram</div>
</div>
<button id="refresh-button">refresh</button>
<div id="image-loader" style="display: none;"><img src="/assets/ajax-loader.gif" /></div>
<%= render 'content' %>
<script type="text/javascript">
  $(document).ready(function(){
    $("#refresh-button").click(function(){
      $("#image-loader").show();
      $.ajax({
        url: "/",
        success: function(response) {
          $("#image-loader").hide();
          $("#disp").html(response);
          var dataLength = <%= @data["data"].length %>
          for (var i = 0; i < dataLength; i++) {
            var content = $('#someHtml_'+i).html();
            $(".fancybox_"+i).fancybox({
              'content': content,
              'maxHeight' : 1800
            });
          };
        }
      });
    });
  });

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36579424-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>