<% @data["data"].each do |data| %>
  <div class="grid_6 omega">
    <div class="image-contain">
      <img src="<%= data["images"]["standard_resolution"]["url"] %>" style="width:97%" >
    </div>
    <%#= data["caption"]["text"].force_encoding("UTF-8") rescue "" %>
    <%#= data["comments"]["count"]  %><!-- Comments <%#= data["likes"]["count"] %> Likes
    <%# if data["caption"].present? %>
      <%#*<img src="<%= data["caption"]["from"]["profile_picture"] rescue '' %>" >%>
      <%#= data["caption"]["from"]["username"] %>
    <%# end %>
    <%# data["comments"]["data"][0..3].each do |comment| %>
      <%#*<img src="<%= comment["from"]["profile_picture"] %>" >%>
      <%#= comment["from"]["username"] %>:
      <%#= comment["text"] %>
    <%# end %> -->
  </div>
<% end %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36579424-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>