<h1>Instagram</h1>
<div>
  <h2>Login with Instagram</h2>
  <div class="login-button">
    <a href="https://instagram.com/oauth/authorize/?client_id=f69d548aeb314c2997583b8cfa154691&redirect_uri=http://127.0.0.1:3000/user/&response_type=code">
      Login
    </a>
  </div>
</div>
<div>
  <% @result.each do |image| %>
    <img src="<%= image %>">
  <% end %>
</div>