<% meta_keywords "joystagram, joystagram.com, instagram, IG, web, PC, Computer, viewer, instagram on web" %>
<% meta_description "Joystagram - Popular photos and videos on Instagram" %>
<h1><%=h content_for(:title, "Popular photos and videos on Instagram") %></h1>
<div class="grid_12 omega">
  <div class="popular-text">Popular photos and videos on Instagram</div>
</div>
<div align="center">
<i class="popular-refresh foundicongen-refresh" id="refresh-feed"></i></div>
<div id="image-loader" align="center" style="display: none;"><img src="/assets/ajax-loader.gif" /></div>
<div id="disp">
  <%= render 'content' %>
</div>