<div class="row">
	<div class="col-md-10 static-para">
	  <h1>Privacy</h1>
	  <p>
	    We store Basic information of Signed in user i.e, instagram id, username, bio, profile image link and access token. We <b>DO NOT</b> store users media itself in our database.<br>
	    Content of private instagram user is not displayed. The data seen on Joyviewer is public content. That means anyone can view the content.
	  </p>
	  <h4>What can i do if i don't want my information to be visible to all?</h4>
	  <p>
	    If a user changes his/her settings to be a private user then content will not be publicly visible. To set your privacy so that only approved users can see your post you can follow this <a href="http://help.instagram.com/448523408565555">link</a>. 
	  </p>
	</div>
</div>