<div class="row">
	<div class="col-md-10 static-para">
	  <h1>Privacy</h1>
	  <p>
	    We store Basic information of Signed in user i.e, instagram id, username, bio, profile image link and access token. We <b>DO NOT</b> store users media itself in our database.<br>
	    Content of private instagram user is not displayed. The data seen on Joyviewer is public content. That means anyone can view the content.
	  </p>
	  <h4>What can i do if i don't want my information to be visible to all?</h4>
	  <p>
	    If a user changes his/her settings to be a private user then content will not be publicly visible. To set your privacy so that only approved users can see your post you can follow this <a href="http://help.instagram.com/448523408565555">link</a>. 
	  </p>
	  <h1>Cookies & 3rd Party Advertisements</h1>
	  <p>
	  	Google, as a third party vendor, uses cookies to serve ads on your site. Google's use of the DART cookie enables it to serve ads to your users based on their visit to your sites and other sites on the Internet. Users may opt out of the use of the DART cookie by visiting the Google ad and content network privacy policy.
	  </p>
	  <p>
	  	We allow third-party companies to serve ads and/or collect certain anonymous information when you visit our web site. These companies may use non-personally identifiable information (e.g., click stream information, browser type, time and date, subject of advertisements clicked or scrolled over) during your visits to this and other Web sites in order to provide advertisements about goods and services likely to be of greater interest to you. These companies typically use a cookie or third party web beacon to collect this information. To learn more about this behavioral advertising practice or to opt-out of this type of advertising, you can visit http://www.networkadvertising.org/managing/opt_out.asp.
	  </p>
	</div>
</div>