<div class="grid_12 omega search">
  <form action="/search">
    <input type="text" id="search-input" name="q" value="<%= params[:q] %>" placeholder="Search for tags"><br>
    <input type="submit" value="Search" id="refresh-button">
  </form>
</div>
<div class="grid_12 omega">
  <%if params[:q].present? %>
    <div class="popular-text">Search result for "<%= params[:q] %>"</div>
  <% end %>
</div>

<%= render '/site/content' if params[:q].present? && params[:q] != 'search' %>