<div class="row">
  <h1>Terms</h1>
  <h4>User content</h4>
  <div class="col-md-12 static-para">
    <p>
      Joyviewer uses official instagram api to fetch content. 
      We store Basic information of Signed in user i.e, instagram id, username, bio, profile image link and access token. We <b>DO NOT</b> store users media itself in our database.  
    </p>
    <p>
      The data seen on Joyviewer is public content. Public content can be viewed by anyone. Content of private users are not displayed.
    </p>
    <p>
      We care about privacy of Users. To view privacy policies please <a href="/privacy">click here</a>
    </p>
    <p>
      All Basic Terms of instagram apply. Please check out instagram's <a href="http://instagram.com/about/legal/terms/" target="blank">terms of use</a> for more details.
    </p>
    <p>
      Joyviewer uses the Instagram™ API and is not endorsed or certified by Instagram or Instagram, Inc. All Instagram™ logos and trademarks displayed on Joyviewer are property of Instagram, Inc.
    </p>
  </div>
</div>