<h1> <%= @user_info[:full_name] %> </h1>
<br/>
<img src="<%= @user_info[:image] %>">
<div>
  <% @images.each_with_index do |image,i| %>
  <div class="polaroid">
    <a href="<%= @standard_resolution[i] %>"><img src="<%= image %>"></a>
  </div>
<% end %>
</div>