<% if @user_info["data"].present? %>
  <%= render :partial => '/users/user_basic_info', :locals => {:show_follow => true} %>
  <%= render '/site/content' %>
<% else %>
  <div class="alert alert-danger"><%= @user_info["meta"]["error_message"] %></div>
<% end %>