<% meta_keywords "joystagram, joystagram.com, instagram, IG,instagram on web, #{@user_info["data"]["username"]}" %>
<h1><%=h content_for(:title, "Joystagram - #{@user_info["data"]["username"]}") %></h1>
<%= render '/users/user_basic_info' %>
<div id="wrapper">
  <%= render 'content' %>
</div>