/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
* {
    margin:0;
    padding:0;
}
body {
    position: relative;
    text-align: center;
    z-index: 0;
    background: #202020;
    font-family: proxima-nova, Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: url("http://dl.dropbox.com/u/100496044/stone.jpg");
    margin: 0;
    padding: 0;
    border: 0;
}
h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: myriad-pro-condensed-1,myriad-pro-condensed-2,'Helvetica Neue',Arial,'Lucida Grande',sans-serif;
    font-weight: 700;
}
#header {
}
#container {
    width: auto;
    height: 54px;
    background: black;
    box-shadow: 8px 17px 31px rgba(204, 204, 204, 0.1);
    border-bottom: 1px solid silver;
}
.login-button {
    float: right;
    min-width: 109px;
    background: #6BB38A none;
    border: none;
    color: white;
    text-align: center;
    border-radius: 17px;
    height: 76px;
    font-size: 20px;
    padding-top: 70px;
    margin: -28px 10px 17px 0px;
}
a {
    text-decoration: none;
    color: white;
}
.polaroid {
    float: left;
    display: block;
    padding: 4px;
    line-height: 20px;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    margin: 1px;
}


.thumb {
    float: left;
    position: block;
    padding: 10px 15px 0;
    font-size: 12px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    margin: 8px;
    max-height: 430px;
}
.description{
    padding: 10px;
}
.by-user {
    background-color: #23201D;
    margin: 0px -16px 0px -15px;
    padding: 10px;
}
.comments {
    border-bottom: 2px solid #E6E6E6;
    padding: 12px;
}
.user-font {
    color: #F2F2F2;
    font-weight: bold;
}
#wrapper {
    width: 90%;
    max-width: 1100px;
    min-width: 800px;
    margin: 50px auto;
}
#columns {
    -webkit-column-count: 4;
    -webkit-column-gap: 10px;
    -webkit-column-fill: auto;
    -moz-column-count: 4;
    -moz-column-gap: 10px;
    -moz-column-fill: auto;
    column-count: 4;
    column-gap: 15px;
    column-fill: auto;
}

#sidebar {
    display: inline;
    float: left;
    margin-left: -204px;
    margin-right: -93px;
    border-left: 1px solid #E6E6E6;
    padding: 0 20px 50px;
    width: 179px;
}

.pin {
    display: inline-block;
    background: #FEFEFE;
    border: 2px solid #FAFAFA;
    box-shadow: 0px 5px 8px rgba(204, 204, 204, 0.9);
    margin: 0 2px 15px;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    padding: 15px;
    padding-bottom: 5px;
    background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
    opacity: 1;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}
#navbar li {
    color:white;
    font-weight: bold;
    float: left;
    padding-right: 35px;
    list-style: none;
}
.logged-in {
    width: 140px;
    height: 63px;
    padding-left: 0px;
    margin-top: -21px;
}
.user-button {
width: 109px;
background: #49949D none;
border: none;
color: white;
text-align: center;
border-radius: 3px;
height: 32px;
font-size: 20px;
padding-top: 9px;
margin-bottom: 17px;
}
.user-list {
    float: left;
    margin-left: -80px;
    list-style: none;
}