/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body {
  color: #202020;
  font-family: 'nunito', cursive;
}

.logo {
  font-family: 'Meie Script', cursive;
  font-weight: bold;
  text-align: center;
  font-size: 6em;
}

.login {
  height: 100px;
  width: 0;
  border-left: 50px solid #619AB1;
  border-right: 50px solid #619AB1;
  border-bottom: 35px solid transparent;
}

.logout {
  margin-top: -6px;
  width: 113px;
  text-align: center;
  background-color: #619AB1;
}

.logout a {
  color: white;
}

.popular-text {
  font-size: 30px;
  text-align: center;
}
img {
  border-radius: 1.4%;
}

ul.nav {
  float: left;
  width: 870px;
  font-size: 16px;
  margin-left: 2px;
  padding-left: 100px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.nav li {
  float: left;
  list-style: none;
  margin-right: 150px;
}

.login a {
  text-decoration: none;
  color: white;
  float: left;
  margin: 30px 0px 0px -32px;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: #202020;
}
#someHtml {
  display: none;
}

img.ri
{
  max-width: 100%;
  top: 10%;
  left: 10%;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.9);
}

a.list_selected {
  background-color: #202020;
  color: white;
}

.des-bar {
width: 97%;
background-color: black;
opacity: 0.8;
position: relative;
margin: -82px 1px 0px 1px;
display: none;
float: left;
} 

.bar-font {
  color: white;
  text-align: center;
  font-size: 15px;
}

#footer {
  height: 60px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.circle {
  font-size: 13px;
  width: 60px;
  padding: 2em;
  background: black;
  border-radius: 9px 1px;
  height: 60px;
  margin-right: 50px;
}

.photos {
  background-color: #FAA41D;
}

.followed {
  background-color: #81A362;
}

.following {
  background-color: #CB421D;
}

.following a {
  color: white;
}

.photos a {
  color: white;
}

.followed a {
  color: white;
}

.likes {
  background-color: #357660;
}

.likes a {
  color: white;
}

.search {
  margin: 60px 0px 50px 300px;
}

#refresh-button {
  margin: 0 44% 2% 44%;
  background-color: #7FBF4D;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7FBF4D), color-stop(100%, #63A62F));
  background-image: -webkit-linear-gradient(top, #7FBF4D, #63A62F);
  background-image: -moz-linear-gradient(top, #7FBF4D, #63A62F);
  background-image: -ms-linear-gradient(top, #7FBF4D, #63A62F);
  background-image: -o-linear-gradient(top, #7FBF4D, #63A62F);
  background-image: linear-gradient(top, #7FBF4D, #63A62F);
  border: 1px solid #63A62F;
  border-bottom: 1px solid #5B992B;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #96CA6D;
  box-shadow: inset 0 1px 0 0 #96CA6D;
  color: white;
  font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 7px 0 8px 0;
  text-align: center;
  text-shadow: 0 -1px 0 #4C9021;
  width: 150px;
}

.opaque {
  opacity: 0.3;
}

#relation-follows {
  background-color: #85A32B;
  cursor: pointer;
  padding: 8px 30px 8px 30px;
  color: white;
  height: 188px;
  border-radius: 3px;
  margin: 10px;
}

#relation-none {
  background-color: #004982;
  cursor: pointer;
  padding: 8px 30px 8px 30px;
  color: white;
  height: 188px;
  border-radius: 3px;
  margin: 10px;
}
.relation-loader {
  float: right;
  margin: -24px 148px 0px 0px;
  display: none;
}
#relation-button:hover {
  background-color: #00356E;
}
.like-white {
  background-image: url('white-heart.gif');
  height: 32px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.like-red {
  background-image: url('red-heart.gif');
  height: 32px;
  background-repeat: no-repeat;
}

.like-white:hover {
  background-image: url('red-heart.gif');
  height: 32px;
  background-repeat: no-repeat;
}

#search-input {
  width: 50%;
  margin: 2.4% 26% 0.4%;
  padding: 4px;
  border: 3px solid #AEBAC2;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 400;
  outline: none;
  color: #444;
  float: left;
}

#my-list {
  list-style: none;
} 
#my-list li a{
  color: white;
}
#my-list li {
  border: 1px solid;
  background: #524FA2;
  color: white;
  margin: 5px;
  float: left;
  padding: 20px 30px;
  min-width: 200px;
  border-radius: 30px 0px 0px 30px;
  font-size: 13px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

#my-list li:hover {
  opacity: 0.8;
}

#wrapper {
  margin-left: 30px;
}

.single-image {
  width: 107%;
  background: whitesmoke;
  padding: 14px 11px 14px 16px;
  border-radius: 5px;
}

.uploader {
  width: 61.5%;
}

.side-panel {
  border-bottom: 1px solid #DDD;
  padding: 10px;
}

.tag {
  padding: 5px;
  border: 1px solid;
  background: #524FA2;
  color: white;
  list-style: none;
}

.tag:hover {
  opacity: 0.6;
}

.likers {
  width: 30%;
  padding-top: 3px;
  border-radius: 9px;
}

.comment-count {
  border-bottom: 2px solid;
  padding: 5px;
  font-size: 14px;
}

li {
  list-style: none;
}

.browse-more {
  font-size: 16px;
  width: 230px;
  margin: -10px 0px 10px 10px;
  float: left;
}

.browse-user-grid {
  float: left;
}

.browse-user-grid img {
  width: 90px;
  margin-left: 14px;
  border-radius: 4px;
  border: 6px solid #DDD;
}

.social {
  font-size: 26px;
  color: #6D84B4;
  cursor: pointer;
}

.foundicongen-heart {
  font-size: 34px;
  margin-left: 170px;
  cursor: pointer;
  padding: 6px;
}

.foundicongen-heart:hover {
  color: red;
}

.foundiconaccess-eyeball {
  padding-left: 10px;
  cursor: pointer;
}

.margin0 {
  margin: 0;
}

.foundiconaccess-eyeball:hover {
  color: #619AB1;
}

.pin-button {
  float: left;
  padding: 5px;
}

.popular-refresh {
  font-size: 34px;
  cursor: pointer;
}

.popular-refresh:hover {
  color: #619AB1;
}

.white {
  color: white;
}

.red {
  color: red;
}

.font40 {
  font-size: 40px;
}

.left {
  float: left;
}

textarea {
  width: 100%;
  border: 1px solid #DDD;
  border-radius: 4px;
}

#comment-button {
  width: 20%;
  height: 34px;
  padding: 2px 0 0;
  border: none;
  border-radius: 6px;
  box-shadow: none;
  font-size: 13px;
  font-weight: 500;
  background: #524FA2;
  color: white;
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  float: left;
  margin-top: 4px;
}

.comment-button:hover {
  background-color: #3E3B8E;
}

.fancy-button {
  width: 30%;
  height: 34px;
  padding: 2px 0 0;
  border: none;
  border-radius: 6px;
  box-shadow: none;
  font-size: 13px;
  font-weight: 500;
  background: #524FA2;
  color: white;
  text-align: center;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  float: left;
  margin: 18px;
}

.cancel-color {
  background: #E53539;
}

.follow-btn-media {
  width: 100px;
  height: 25px;
  background: #619AB1;
  margin: 4px;
  border-radius: 5px;
  padding-top: 5px;
  cursor: pointer;
  color: white;
}

img:hover {
  opacity: 0.9;
  background-color: #619AB1;
  -webkit-transition: opacity 0.35s ease-in-out 0s;
}

::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #619AB1; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4); 
}

::selection{
  background: #619AB1;
}
@media screen and (max-width : 320px) {
  .nav {
    display: none;
  }
}

@media (max-width:40em) {
    table, thead, tbody, tfoot, th, td, tr { display:block; }
    tr + tr { margin-top:1em; }
}