/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body {
  color: grey;
  font-family: 'nunito', cursive;
}

.logo {
  font-family: 'Meie Script', cursive;
  font-weight: bold;
  text-align: center;
  font-size: 6em;
}

.login {
  height: 100px;
  width: 0;
  border-left: 50px solid #619AB1;
  border-right: 50px solid #619AB1;
  border-bottom: 35px solid transparent;
}

.logout {
  margin-top: -6px;
  width: 113px;
  text-align: center;
  background-color: #619AB1;
}

.logout a {
  color: white;
}

.popular-text {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}
img {
  border-radius: 1.4%;
}

ul.nav {
  float: left;
  font-size: 20px;
  margin-left: 2px;
  padding-left: 100px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}
.nav li {
  float: right;
  list-style: none;
  margin-right: 100px;
}

.login a {
  text-decoration: none;
  color: white;
  float: left;
  margin: 30px 0px 0px -32px;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: grey;
}
#someHtml {
  display: none;
}

img.ri
{
  max-width: 100%;
  top: 10%;
  left: 10%;
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.9);
}

a.list_selected {
  background-color: black;
  color: white;
  opacity: 0.7;
}

.des-bar {
width: 97%;
background-color: black;
height: 69px;
opacity: 0.9;
position: relative;
margin: -74px 1px 1px 1px;
} 

.bar-font {
color: white;
text-align: center;
font-weight: bold;
}

#footer {
  height: 60px;
border-bottom: 1px solid black;
border-top: 1px solid black;
}

@media screen and (max-width : 320px) {
  .nav {
    display: none;
  }
}