@import url(http://fonts.googleapis.com/css?family=News+Cycle);
body {
  font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
  padding-top: 60px;
}

a {
  text-decoration: none;
  color: #202020;
}

a:hover {
  color: #202020;
  text-decoration: none;
}

.navbar {
  margin-bottom: 0;
}

.navbar-default {
  background: white;
}

.navbar > .container .navbar-brand {
  color: #202020;
  font-weight: bold;
}

.navbar-default .navbar-nav > li > a {
  color: #202020;
}

.go-top {
  position: fixed;
  bottom: 5em;
  right: 2em;
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  padding: 1em;
  display: none;
}

.go-top:hover {
  background-color: #202020;
  color: white;
}

footer {
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
  border-top: 1px solid #D6D6D6;
}

.thumbnail {
  border-radius: 0;
}

.head-text {
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  font-size: 20px;
  margin: 6px;
}

/* VIDEO SYMBOL */
.arrow-right {
  margin: 40% 40%;
  position: absolute;
  text-shadow: 0 3px black; 
  width: 0;
  height: 0;
  border-top: 32px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 50px solid #e74c3c;
}

.red {
  color: red;
}

.glyphicon {
  font-size: 24px;
}

.badge a {
  color: white;
}

.fb-share {
  background: #4C66A4;
  color: white;
  padding: 2px;
  border-radius: 2px;
  font-weight: bold;
}

.tag1 {
  text-align: center;
  color: #3498DB;
  font-weight: bold;
  border: 1px solid;
  padding: 4px;
  margin: 2px;
  border-radius: 7px;
  font-size: 13px;
  display: inline-block;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}