.row {
  max-width: 77.500em;
}

[class*="column"] + [class*="column"]:last-child {
  float: left; 
}

.top-bar {
  color: #202020;
  background: white;
  height: 46px;
  border-bottom: 1px solid #202020;
}

nav li a{
  border-bottom: 1px solid;
}

.top-bar .name h1 {
  background: white;
}

.top-bar .name h1 a {
  color: white;
  background: #202020;
  border-bottom: 1px solid #202020;
}

.top-bar-section .has-form {
  background: white;
}

.top-bar-section li a:not(.button), .top-bar-section ul li.active > a, .socio {
  background: white;
  color: #202020;
}

.top-bar-section li a:not(.button):hover, .top-bar-section ul li:hover {
}

.top-bar-section ul .socio {
  background: white;
  padding-top: 18px;
}
.top-bar .toggle-topbar.menu-icon a span {
  color: white;
}

.top-bar .toggle-topbar.menu-icon {
  background: #202020;
  border-radius: 5px;
}

.toggle-topbar.menu-icon a {
  border: none;
}

@media screen and (max-width: 1260px) {
 
}

@media screen and (max-width: 1260px) { 
  
}

@media screen and (max-width: 938px) {

  .top-bar .name h1 a {
   background: white;
    color: #202020; 
  }

   
}
