<%  @interesting_users.each do |u| %>
  <div class="browse-user-grid" style="margin: 21px;">
    <a href="/u/<%= u.instagram_username %>"><img src="<%= u.instagram_profile_picture %>"><br>
    <div style="text-align: center;font-size: 14px;"><%= u.instagram_username %></div></a>
  </div>
<% end %>