<!DOCTYPE html>
<html>
  <head>
    <title>InstagramApp</title>
    <meta charset="utf-8" />
    <%= stylesheet_link_tag    "application", :media => "screen" %>
    <%= javascript_include_tag "application" %>
    <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Meie+Script' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0">
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container clearfix">
      <div class="grid_12">
        <div class="logo" id="fittext1">Instaonweb</div>
      </div>
      <div class="grid_12 omega">
        <ul class="nav">
          <li><a href="#">About</a></li>
          <li><a href="#">Search</a></li>
          <li><a href="#">Locations</a></li>
          <li class="last"><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <%= yield %>
    </div>
    <script src="jquery.fittext.js"></script>
    <script type="text/javascript">
      $("#fittext1").fitText();
    </script>
  </body>
</html>
